<ion-view title="Comments">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Comments</h2>
        <div >
           
             <div class="">
                    <h>Event needs validation: carbomb in parking lot</h>
                    </div>
                        
<!--            <div class="card" ng-repeat="aa in actData">
                    <ion-item>Event needs validation: carbomb in parking lot</ion-item>
                    <div>-->
                        <ion-list>
                            <ion-item>
                                <h>KApplication</h>
                                <p>
                                    This is a Nice Idea.
                                </p>
                            </ion-item>
                              <ion-item >
                                <h>KApplication</h>
                                <p>
                                    This is a Nice Idea.
                                </p>
                            </ion-item>
                              <ion-item>
                                <h>KApplication</h>
                                <p>
                                    This is a Nice Idea.
                                </p>
                            </ion-item>
                            
                        </ion-list>
                    </div>
                
           
<!--           
            <li>
                <a href="http://google.com">Josephine</a>performed your action</li>
            <li>Event needs validation</li>
            <li>Samer commented on your action.</li>
            <p></p>
        <ion-list>
            <ion-item ui-sref="tabsController.Nameofuser">Josephine performed your action</ion-item>
            <ion-item>Event needs validation: carbomb in parking lot</ion-item>
            <ion-item>Samer commented on your action</ion-item>
        </ion-list>
            -->
        
        </div>
    </ion-content>
</ion-view>
