<ion-view  title="{{title}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
<!--        <div class="list card">
            <div class="item item-divider">{{event.name}}</div>
            <div class="item item-body">
                <div>
                    <p>{{event.description}}
                        <strong><a href="{{event.link}}">Full article here</a></strong>
                    </p>
                </div>
            </div>
        </div>
        <a ui-sref="tab.chat({'eventId':event.eventid})" class="button button-positive button-block  icon-right ion-android-time">Discuss event</a>-->
        <h4>Description:</h4>
        
        <p>Ready to launch some new fundraising ideas for schools? Whether you're a teacher or administrator looking for new ways to run your school fundraiser, or a parent or PTA member helping raise money for your child's school, GoFundMe can provide you with a successful online fundraiser with far less overhead and time investment than traditional fundraising ideas for schools.</p>
<!--        <ion-list>
            <ion-item ui-sref="tab.ActionTitle">Ready to launch some new fundraising ideas for schools? Whether you're a teacher or administrator looking for new ways to run your school fundraiser, or a parent or PTA member helping raise money for your child's school, GoFundMe can provide you with a successful online fundraiser with far less overhead and time investment than traditional fundraising ideas for schools</ion-item>
            <ion-item ui-sref="tab.ActionTitle">Pray for victems</ion-item>
            <ion-item ui-sref="tab.ActionTitle">Call my mom.</ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>
