<ion-view title="Activity">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Your activity:</h2>
        <div>
           
            <div class="list list-borderless" ng-repeat="aa in activtyLoop">
                    <ion-item>
                        <h>{{aa.description}}</h>
                    
                    <div class="list">
                            <ion-item ng_repeat="cc in actData">
                                <div class="imgPro">
                                  <img src="images/usericon.png" alt="" title="">
                                </div>
                                <div class="commm">
                                <h ng_click="onClickName()">KApplication</h>
                                <p ng_click="onClickComments()">
                                    This is a Nice Idea.
                                </p>
                                </div>
                            </ion-item>
                       
                    </div>
                        </ion-item>
                </div>
           
<!--           
            <li>
                <a href="http://google.com">Josephine</a>performed your action</li>
            <li>Event needs validation</li>
            <li>Samer commented on your action.</li>
            <p></p>
        <ion-list>
            <ion-item ui-sref="tabsController.Nameofuser">Josephine performed your action</ion-item>
            <ion-item>Event needs validation: carbomb in parking lot</ion-item>
            <ion-item>Samer commented on your action</ion-item>
        </ion-list>
            -->
        
        </div>
    </ion-content>
</ion-view>
