<ion-view title="Activity">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Your activity:</h2>
        <div>
            <p>
            </p>
            <li>
                <a href="http://google.com">Josephine</a>performed your action</li>
            <li>Event needs validation</li>
            <li>Samer commented on your action.</li>
            <p></p>
        </div>
        <ion-list>
            <ion-item ui-sref="tabsController.Nameofuser">Josephine performed your action</ion-item>
            <ion-item>Event needs validation: carbomb in parking lot</ion-item>
            <ion-item>Samer commented on your action</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
