<ion-view title="Events">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Response Team</h1>
        <div>
            <p>These events happened recently How will you
                <strong>respond</strong>?
</p>
        </div>


        <ion-list >
          <ion-item ng-repeat="event in eventLoop"
                    ui-sref="tab.EventTitle({'eventId':event.eventid})"
                    class="item-thumbnail-left" >
              <h2 >{{event.name}}</h2 >

            <p class="genres" >
              <i class="ion-ios-pricetag-outline" ></i >
              <span ng-repeat="genre in event.genres" >{{genre}}<span ng-if="!$last" >, </span ></span >
            </p >

            <p class="source" >
              <i class="ion-ios-location-outline" ></i >
              &nbsp;{{show.URL}}
            </p >

            <span ng-show="user.current.favorites[show.showid]" >
              <i class="ion-heart assertive" ></i >
            </span >

          </ion-item >



    </ion-content>
</ion-view>
